ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.main-header {
  background: var(--WHITE, #fff);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
}

.nav-list .link:hover,
.address .link:hover {
  color: var(--OCEAN, #404bbf);
}

.link,
.logo {
  text-decoration: none;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
}

.div-header {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-footer {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

span {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.footer-section > .link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-list-item > .link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-list-item .link:focus,
.address .link:focus {
  color: #404bbf;
}

.address .link {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;
}

.first-section {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 188px 0;
}

.main-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.button {
  background: var(--IRIS, #4d5ae5);
  cursor: pointer;
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.button:hover {
  background: var(--OCEAN, #404bbf);
}
.button:focus {
  background-color: #404bbf;
}

.descr-sec-section {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-information > .main-information-item {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.main-information-paragraph,
.portfolio-paragraph {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-team-section {
  background: var(--CLOUD, #f4f4fd);
}

.our-team,
.our-portfolio-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-pictures-list {
  background-color: #ffffff;
}

.team-names {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-descr {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.job-position {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-section {
  background: var(--NAVY-BLUE, #2e2f42);
}

.footer-section > .footer-paragraph {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
img {
  display: block;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.link {
  padding: 24px 0;
}

.address-menu {
  display: flex;
  gap: 40px;
}

.second-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-information {
  display: flex;
  gap: 24px;
}

.main-information-item {
  width: calc((100% - 72px) / 4);
}

.descr-sec-section {
  margin-bottom: 8px;
}

.our-team-section {
  padding: 120px 0;
}

.our-team {
  margin-bottom: 72px;
}

.team-pictures {
  display: flex;
  gap: 24px;
}

.team-pictures-list {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-information-div {
  padding: 32px 0;
}

.team-names {
  text-align: center;
  margin-bottom: 8px;
}

.job-position {
  text-align: center;
}

.our-portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-portfolio-list {
  width: calc((100% - 48px) / 3);
}

.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.footer-section {
  padding: 100px 0;
}

.link-footer {
  display: inline-block;
  margin-bottom: 16px;
}
